#gb {
	display: none !important;
}

.VjFXz{
	display: none !important;
}

.notification-area {
	display: none !important;
}

.gb_Jc {
	display: none !important;
}
.rm1UF .UnxENd {
	border-bottom: 1px solid #E0E0E0;
}

.AxqVh {
	min-height: 400px;
}
